<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mock2Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <mock2Launcher.My.MySettings>
            <setting name="SimpleDraw" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vidPlaybackYes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vidPlaybackNo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="virtualFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxFPS" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="charSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textResolutionHigh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="standardTextRes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="compactTextRes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShadersHigh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShadersLow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bgmVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="seVolume" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="voiceVolume" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="videoPlaybackVol" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="surroundEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="surroundDisabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="titleTranslator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="itemTranslator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dmgParser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pso2ProxyPlugin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resetSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </mock2Launcher.My.MySettings>
    </userSettings>
</configuration>
